html {
    scroll-behavior: smooth;
    margin:0px
  }
nav{
    padding: 1% 0px;
}
.nav-item{
    margin:0px 10px;
}
.carousel-inner > .carousel-item > img {
    width: 100vw;
    height:90vh;
  }

.features{
    height:auto;
    margin:14% auto ;
    text-align: center;
}

.features-item{
    margin: 1% auto 0px auto; 
}

.contact-container{
    margin-top: 60px;
    height: auto;
}
.contact-item{
    margin: 1% auto; 
    text-align: center;
}
.contact-title{
    margin-bottom: 40px;
}

.null{
    margin: 0px;
    padding: 0px;
}

.ftr{
    height: auto ;
}

.feature-icon{
    margin-bottom: 20px;
}