html {
    scroll-behavior: smooth;
    margin:0px
  }
nav{
    padding: 1% 0px;
}
.nav-item{
    margin:0px 10px;
}
.carousel-inner > .carousel-item > img {
    width: 100vw;
    height:90vh;
  }

.features{
    height:auto;
    margin:14% auto ;
    text-align: center;
}

.features-item{
    margin: 1% auto 0px auto; 
}

.contact-container{
    margin-top: 60px;
    height: auto;
}
.contact-item{
    margin: 1% auto; 
    text-align: center;
}
.contact-title{<!DOCTYPE html>
    <html lang="en">
    
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <script src="https://kit.fontawesome.com/13ecf0dbf7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./style/style.css" type="text/css" />
        <title>Trading Corner</title>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Trading Corner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="btn btn-dark btn-outline-light" data-toggle="modal" data-target="#login">
                            Login
                        </button>
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="btn btn-dark btn-outline-light" data-toggle="modal" data-target="#signup">
                            Signup
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div id="carouselExampleCaptions" class="carousel slide crsl" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/img1.jpg" class="d-block w-100 img-fluid" alt="..." />
                    <div class="carousel-caption">
                        <h5>Sign up for more</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/img2.jpg" class="d-block w-100 img-fluid" alt="..." />
                    <div class="carousel-caption">
                        <h5>Sign Up for more</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <!-- <span class="sr-only">Previous</span> -->
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <!-- <span class="sr-only">Next</span> -->
            </a>
        </div>
    
        <!-- Login  -->
    
    
    
        <!-- Modal -->
        <div class="modal fade " id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/">
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                          </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dark btn-outline-light">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Signup  -->
    
    
        <!-- Modal -->
        <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/">
                            <div class="mb-3">
                              <label for="name" class="form-label">Name</label>
                              <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                              <label for="email" class="form-label">Email address</label>
                              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" name="pswd" id="password">
                            </div>
                            <div class="mb-3">
                              <label for="confirmpassword" class="form-label">Confirm Password</label>
                              <input type="password" class="form-control" name="cnfpswd" id="confirmpassword">
                            </div>
                          </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login and Logout Modal -->
    
        <div class="null" id="features"></div>
        <!-- Three columns of text below the carousel -->
        <div class="container-fluid">
            <div class="row features" wfd-id="13">
                <div class="col-lg-4 features-item" wfd-id="16">
                    <i class="fas fa-chart-bar fa-5x feature-icon"></i>
    
                    <h2>Live Chart</h2>
                    <p>See live chart of market</p>
                    <p><a class="btn btn-secondary" href="#">View details »</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 features-item" wfd-id="15">
                    <i class="fas fa-poll fa-5x feature-icon"></i>
                    <h2>Market</h2>
                    <p>Get the list of all type of market</p>
                    <p><a class="btn btn-secondary" href="#">View details »</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 features-item" wfd-id="14">
                    <i class="fas fa-chart-line fa-5x feature-icon"></i>
    
                    <h2>Stock Prediction</h2>
                    <p>Want to know the future market value</p>
                    <p><a class="btn btn-secondary" href="#">View details »</a></p>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <div class="null" id="contact"></div>
        <footer class="footer ftr">
            <div class="container">
                <span class="">
                    <div class="container-fluid text-center contact-container ">
                        <h2 class="contact-title">Contact Us</h2>
                        <div class="row contact contact-item">
                            <div class="col-lg-4 col-md-12">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p>Sangli,Maharashtra</p>
                            </div>
    
                            <div class="col-lg-4 col-md-12">
                                <i class="fas fa-phone fa-2x"></i>
                                <p>+91 9284245945</p>
                            </div>
    
                            <div class="col-lg-4 col-sm-12">
                                <i class="fas fa-envelope fa-2x"></i>
                                <p>project4dtu@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <p class="float-right"><a href="#">Back to top</a></p>
                        <p>&copy;2021 TradingCorner.com</p>
                    </div>
                </span>
            </div>
        </footer>
    </body>
    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
    
    </html>
    margin-bottom: 40px;
}

.null{
    margin: 0px;
    padding: 0px;
}

.ftr{
    height: auto ;
}

.feature-icon{
    margin-bottom: 20px;
}